.feature {
  height: 45vh;
  width: 100%;
	margin: 0;
}


.feature text{
	font-size: 20vh;
	stroke: #000;
	stroke-width: .5mm;
	fill: transparent;
	paint-order: stroke;
	transition: fill 1s;
}
.feature:hover text{
	fill: #000;
}
